/* header {
	width: 100%;
	position: relative;
	background-color: #000
}

header .container {
	line-height: 48px;
	height: 48px;
	color: #858585;
	text-align: center
}

header .container .logo {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 48px;
	height: 48px;
	color: #fafafa;
	margin-left: 1em
}

header .container .logo a {
	font-size: 1.6em
}

header .container .logo a:link {
	color: #fafafa
}

header .container .logo a:visited {
	color: #fafafa
}

header .container .nav {
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1;
	height: 48px;
	margin-left: -2em
}

header .container .nav ul {
	text-align: center;
	height: 34px
}

header .container .nav ul li {
	float: left;
	box-sizing: border-box;
	text-align: center;
	height: 34px;
	font-size: 14px;
	margin: 0 2em
}

header .container .nav ul li a {
	font-size: 14px
}

header .container .nav ul li a:link {
	color: #858585;
	height: 34px
}

header .container .nav ul li a:visited {
	color: #858585
}

header .container .nav ul li:hover a:link,header .container .nav ul li.select a:link {
	color: #fafafa
}

header .container .nav ul li:hover a:visited,header .container .nav ul li.select a:visited {
	color: #fafafa
}

header .container .nav .nav-selected-slider-box {
	height: 2px;
	position: relative
}

header .container .nav .nav-selected-slider-box #slider {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #ff3240
}

header .container .personal-info {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 48px;
	height: 48px;
	font-size: 1em
}

header .container .personal-info .box {
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1
}

header .container .personal-info span {
	margin-left: 1em
}

header .container .personal-info span a {
	color: #858585
}

header .container .personal-info span a:link {
	color: #858585
}

header .container .personal-info span a:visited {
	color: #858585
}

header .container .personal-info span em {
	margin-left: .5em;
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1;
	vertical-align: middle;
	font-style: normal;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.6em;
	font-size: 1em;
	color: #d8d8d8;
	background-color: #000;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em
}

header .container .personal-info span i {
	font-size: 1.6em;
	vertical-align: middle;
	margin-right: .1em
}

header .container .personal-info span:hover a {
	color: #fafafa
}

header .container .personal-info span:hover a:link {
	color: #fafafa
}

header .container .personal-info span:hover a:visited {
	color: #fafafa
}

header {
	position: relative
}

header .extend-nav {
	position: absolute;
	height: 0;
	top: 48px;
	width: 100%;
	background: #fff;
	z-index: 99999;
	overflow: hidden;
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,.18);
	box-shadow: 0 3px 4px rgba(0,0,0,.18);
	-moz-transition: height;
	-webkit-transition: height;
	-o-transition: height;
	transition: height;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-ms-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: cubic-bezier(0.25,.46,.33,.98);
	-moz-transition-timing-function: cubic-bezier(0.25,.46,.33,.98);
	-ms-transition-timing-function: cubic-bezier(0.25,.46,.33,.98);
	-o-transition-timing-function: cubic-bezier(0.25,.46,.33,.98);
	transition-timing-function: cubic-bezier(0.25,.46,.33,.98)
}

header .extend-nav .container {
	margin-top: 55px;
	line-height: 0
}

header .extend-nav .container ul {
	text-align: left
}

header .extend-nav .container ul li {
	position: relative;
	width: 239px;
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1
}

header .extend-nav .container ul li a img {
	width: 158px;
	height: 100px
}

header .extend-nav .container ul li a div {
	margin-right: 40px;
	border-right: 1px solid #e4e4e4;
	margin-top: 14px;
	text-align: center
}

header .extend-nav .container ul li a div h1 {
	font-size: 16px;
	color: #000;
	line-height: 1em;
	height: 1.3em;
	margin-right: 40px
}

header .extend-nav .container ul li a div p {
	font-size: 12px;
	color: #8f8f8f;
	line-height: 1em;
	height: 1em;
	margin-right: 40px
}

header .extend-nav .container ul li a:hover img,header .extend-nav .container ul li a:hover h1,header .extend-nav .container ul li a:hover p {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1
}

header .extend-nav .container ul:hover img,header .extend-nav .container ul:hover h1,header .extend-nav .container ul:hover p {
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	-khtml-opacity: .5;
	-webkit-opacity: .5;
	opacity: .5
}

header .extend-nav .container .desc {
	position: absolute;
	right: 0;
	top: 45px;
	text-align: right
}

header .extend-nav .container .desc h1 {
	color: #8f8f8f;
	font-size: 14px;
	line-height: 3em;
	position: relative
}

header .extend-nav .container .desc h1 .top-line {
	position: absolute;
	width: 14px;
	height: 2px;
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1;
	background-color: #000;
	top: 0;
	right: 0
}

header .extend-nav .container .desc p {
	font-size: 30px;
	color: #000;
	line-height: 1em;
	height: 1em
}

header .extend-nav.active {
	height: 260px;
	transition-delay: .2s;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s
}

header .container {
	width: 1080px;
	margin: 0 auto;
	position: relative
}

header .container::before,header .container::after {
	content: " ";
	display: table
}

header .container::after {
	clear: both
}

footer {
	width: 100%;
	position: relative;
	background-color: #f9fafb
}

footer .intro {
	width: 100%;
	height: 177px
}

footer .intro ul {
	height: 177px;
	border-bottom: 1px solid #e4e4e4
}

footer .intro ul li {
	width: 33.33%;
	float: left;
	height: 177px;
	text-align: center
}

footer .intro ul li .icon-wrapper {
	height: 45px;
	line-height: 45px;
	margin-top: 46px;
	border-right: 1px solid #e4e4e4
}

footer .intro ul li .icon-wrapper i {
	font-size: 50px;
	height: 40px;
	width: 45px;
	line-height: 45px;
	color: #8f8f8f;
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1
}

<!--ä¿ä¿®ç­‰å›¾æ ‡çš„ä½ç½®-->
footer .intro ul li .icon-wrapper i.footer1 {
	background-position: 0px 5px
}

footer .intro ul li .icon-wrapper i.footer2 {
	background-position: 0px -39px
}

footer .intro ul li .icon-wrapper i.footer3 {
	background-position: 0px -79px
}


footer .intro ul li .icon-wrapper i.footer1,footer .intro ul li .icon-wrapper i.footer2,footer .intro ul li .icon-wrapper i.footer3,footer .intro ul li .icon-wrapper i.footer4 {
	background-image: url(../img/icon.png)
}



footer .link {
	width: 100%;
	height: 174px
}

footer .link .main-content-wrapper .main-tab {
	margin-top: 24px
}

footer .link .main-content-wrapper .main-tab>li {
	float: left;
	width: 60px;
	margin-right: 72px
}

footer .link .main-content-wrapper .main-tab>li #qrcode-box {
	position: absolute;
	top: 0;
	right: 330px;
	height: 150px;
	width: 150px;
	display: none
}

footer .link .main-content-wrapper .main-tab>li #qrcode-box img {
	width: 100%;
	height: 100%
}

footer .link .main-content-wrapper .main-tab>li #qrcode-link:hover #qrcode-box {
	display: block
}

footer .link .main-content-wrapper .main-tab>li .sub-tab>li {
	font-size: 12px;
	line-height: 22px;
	height: 22px
}

footer .link .main-content-wrapper .main-tab>li .sub-tab>li a:link {
	color: #8f8f8f
}

footer .link .main-content-wrapper .main-tab>li .sub-tab>li a:visited {
	color: #8f8f8f
}

footer .link .main-content-wrapper .main-tab>li .sub-tab>li a:hover {
	color: #484848
}

footer .link .main-content-wrapper .main-tab>li .sub-tab>li a:active {
	color: #8f8f8f
}

footer .link .main-content-wrapper .main-tab>li .sub-tab>li:first-child {
	color: #484848;
	border-bottom: 1px solid #e4e4e4;
	font-size: 14px;
	line-height: 38px;
	height: 38px;
	margin-bottom: 13px
}

footer .link .main-content-wrapper .online-service {
	position: absolute;
	height: 174px;
	top: 0;
	right: 0;
	width: 266px;
	text-align: left
}

footer .link .main-content-wrapper .online-service .online-service-connect {
	position: relative;
	margin-top: 10px;
	padding-left: 77px;
	border-left: 1px solid #e4e4e4
}

footer .link .main-content-wrapper .online-service .online-service-connect h1 {
	font-size: 26px;
	line-height: 26px;
	height: 26px;
	color: #484848;
	text-indent: 4px
}

footer .link .main-content-wrapper .online-service .online-service-connect p {
	font-size: 14px;
	color: #8f8f8f;
	margin-top: 12px;
	text-indent: 4px
}

footer .link .main-content-wrapper .online-service .online-service-connect div {
	margin-top: 24px
}

footer .link .main-content-wrapper .online-service .online-service-connect div a {
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1;
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	border: 1px solid #e4e4e4;
	padding: 13px 22px;
	color: #484848
}

footer .link .main-content-wrapper .online-service .online-service-connect div a i {
	margin-right: 15px;
	color: #9399a2
}

footer .link .main-content-wrapper .online-service .online-service-connect div a:hover {
	background-color: #e4e4e4
}

footer .copyright {
	background-color: #e8e9ea;
	height: 74px;
	line-height: 74px;
	color: #8f8f8f
}

footer .copyright .main-content-wrapper {
	font-size: 14px
}

footer .copyright .main-content-wrapper .backTop {
	position: absolute;
	right: 0;
	top: 23px;
	height: 0px;
	line-height: 25px;
	width: 0px;
	background-color: #b3b9c2;
	text-align: center
}

footer .copyright .main-content-wrapper .backTop i {
	color: #fff;
	font-size: 10px
}

#qrcode #qrcode-img {
	display: none
}

#qrcode:hover #qrcode-img {
	display: block;
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url(../img/c0073ed980c4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	bottom: 104px;
	right: 155px;
	z-index: 999
}

body {
	font-size: 0;
	font-family: Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}

header,footer,section,div {
	font-size: 14px
}


.iconfont {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

.wrapper {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	position: relative
}

.main-content-wrapper {
	max-width: 1080px;
	width: 100%;
	position: relative;
	margin: 0 auto
}

p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0
}

::-webkit-input-placeholder {
	color: #858585
}

:-moz-placeholder {
	color: #858585
}

::-moz-placeholder {
	color: #858585
}

:-ms-input-placeholder {
	color: #858585
}

.ipt {
	border: 1px solid #d8d8d8;
	background-color: #fafafa;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	width: 198px;
	padding: 14px 20px
}

.ipt-wider {
	width: 698px
}

.ipt:focus {
	border-color: #757575;
	background-color: #fff
}

.ipt.error {
	border-color: #fe0000;
	background-color: #fff
}

.ipt-cols2 {
	width: 448px
}

.ipt-cols3 {
	width: 698px
}

.ips {
	cursor: pointer;
	background-color: #fafafa;
	border: 1px solid #d8d8d8;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	width: 198px;
	padding: 14px 20px
}

.ips span.placeholder {
	color: #858585
}

.ips:focus {
	border-color: #757575
}

.ips.error {
	border-color: #fe0000
}

.ips i {
	position: absolute;
	to: 19px;
	right: 10px;
	font-size: 2em;
	color: #d8d8d8
}

.ips-droplist {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #757575;
	background: #fff
}

.ips-droplist ul {
	padding: 10px 0 0;
	height: 130px;
	font-size: 14px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto
}

.ips-droplist li {
	color: #d4d4d4
}

.ips-droplist li a {
	padding: 0 18px;
	line-height: 26px;
	color: #858585;
	display: block
}

.ips-droplist li a:hover {
	color: #000;
	background-color: #d4d4d4
}

.input-block:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "\00A0";
	clear: both;
	height: 0
}

* html .input-block {
	zoom: 1
}

:first-child+html .input-block {
	zoom: 1
}

.input-box {
	float: left;
	display: inline;
	position: relative;
	margin-right: 10px
}

.input-block {
	margin-bottom: 20px;
	margin-right: -10px
}

.input-title {
	font-size: 20px;
	line-height: 1.5;
	padding: 5px 0 10px;
	color: #858585
}

.border-line {
	border-bottom: 1px solid #e4e4e4
}

.btn {
	display: inline-block;
	_zoom: 1;
	_display: inline;
	*display: inline;
	*zome: 1;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	color: #fff;
	background-color: #0068ff;
	border: 1px solid #0068ff
}

.btn:hover {
	color: #858585;
	background-color: #fff;
	border: 1px solid #757575
}

.btn:focus {
	color: #858585;
	background-color: #fff;
	border: 1px solid #757575
}

.btn:active {
	color: #757575;
	background-color: #fff;
	border: 1px solid #757575
}

.btn-xlarge {
	height: 2.6em;
	line-height: 2.6em;
	width: 9em;
	font-size: 1.3em
}

.btn-large {
	height: 2.6em;
	line-height: 2.6em;
	width: 10em;
	font-size: 1em
}

.btn-small {
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	width: 6em
}

.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.btn-primary {
	color: #fff;
	background-color: #0068ff;
	border: 1px solid #0068ff
}

.btn-primary:hover {
	color: #fff;
	background-color: #0054eb;
	border: 1px solid #0054eb
}

.btn-primary:focus {
	color: #fff;
	background-color: #0054eb;
	border: 1px solid #0054eb
}

.btn-primary:active {
	color: #fff;
	background-color: #004acd;
	border: 1px solid #004acd
}

.btn-disable {
	color: #d8d8d8;
	background-color: #858585;
	border: 1px solid #858585
}

.btn-disable:hover {
	color: #d8d8d8;
	background-color: #858585;
	border: 1px solid #858585
}

.btn-disable:focus {
	color: #d8d8d8;
	background-color: #858585;
	border: 1px solid #858585
}

.btn-disable:active {
	color: #d8d8d8;
	background-color: #858585;
	border: 1px solid #858585
}

.btn-white {
	color: #000;
	background-color: #fff;
	border: 1px solid #d8d8d8
}

.btn-white:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid #757575
}

.btn-white:focus {
	color: #000;
	background-color: #fff;
	border: 1px solid #757575
}

.btn-white:active {
	color: #000;
	background-color: #fff;
	border: 1px solid #757575
}

.btn-green {
	color: #fff;
	background-color: #00cf4e;
	border: 1px solid #00cf4e
}

.btn-green:hover {
	color: #fff;
	background-color: #019438;
	border: 1px solid #019438
}

.btn-green:focus {
	color: #fff;
	background-color: #019438;
	border: 1px solid #019438
}

.btn-green:active {
	color: #fff;
	background-color: #006d29;
	border: 1px solid #006d29
}

.btn-blue {
	color: #fff;
	background-color: #0068ff;
	border: 1px solid #0068ff
}

.btn-blue:hover {
	color: #fff;
	background-color: #0256d1;
	border: 1px solid #0256d1
}

.btn-blue:focus {
	color: #fff;
	background-color: #0256d1;
	border: 1px solid #0256d1
}

.btn-blue:active {
	color: #fff;
	background-color: #0147ac;
	border: 1px solid #0147ac
}

.btn-black {
	color: #fff;
	background-color: #000;
	border: 1px solid #000
}

.btn-black:hover {
	color: #fff;
	background-color: #000;
	border: 1px solid #000
}

.btn-black:focus {
	color: #fff;
	background-color: #000;
	border: 1px solid #000
}

.btn-black:active {
	color: #fff;
	background-color: #000;
	border: 1px solid #000
}

.top-banner {
	position: relative;
	width: 100%;
	background-color: #00f;
	height: 200px;
	overflow: hidden
}

.top-banner img {
	position: absolute;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	top: 0
}

.top-banner .exit {
	position: absolute;
	top: 22px;
	width: 25px;
	height: 25px;
	left: 50%;
	margin-left: 515px
}
 */
section {
    text-align: right
}

section .title_bg {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 20em
}

section .title {
    margin-top: 4em;
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 1.5em;
    text-align: left;
    color: #fff
}

section .side-bar {
    float: left;
    background-color: #fafafa;
    width: 18%;
    overflow: hidden
}

section .side-bar li {
    padding: 0 2em;
    display: block;
    background-color: #fafafa;
    height: 4em;
    line-height: 4em;
    text-align: left;
    position: relative
}

section .side-bar li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    height: 4em;
    line-height: 4em;
    display: block;
    border-bottom: 1px solid #e9e9e9
}

section .side-bar li a:link {
    color: #000
}

section .side-bar li a:visited {
    color: #000
}

section .side-bar li a:hover {
    color: #0068ff
}

section .side-bar li a:active {
    color: #000
}

section .side-bar li:last-child a {
    border: 0
}

section .side-bar li i {
    position: absolute;
    cursor: pointer;
    right: 2em;
    top: 0;
    height: 4em;
    line-height: 4em;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    color: #acacac;
    vertical-align: top
}

section .side-bar li i em {
    display: inline-block;
    _zoom: 1;
    _display: inline;
    *display: inline;
    *zome: 1;
    font-size: .5em;
    width: 1em;
    height: 1em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle
}

section .side-bar li:hover em,section .side-bar li.selected em {
    background-color: #0068ff
}

section .side-bar li:hover a:link,section .side-bar li.selected a:link {
    color: #0068ff
}

section .side-bar li:hover a:visited,section .side-bar li.selected a:visited {
    color: #0068ff
}

section .side-bar li:hover a:hover,section .side-bar li.selected a:hover {
    color: #0068ff
}

section .side-bar li:hover a:active,section .side-bar li.selected a:active {
    color: #0068ff
}

.right-container {
    text-align: left;
    background-color: #fff;
    display: inline-block;
    _zoom: 1;
    _display: inline;
    *display: inline;
    *zome: 1;
    width: 80%;
    position: relative
}

.right-container .box-wrapper .content-list li {
    padding: 8px 8px 0;
    border: 1px solid #e9e9e9;
    margin-bottom: 1em;
    position: relative
}

.right-container .box-wrapper .content-list li img {
    width: 100%
}

.right-container .box-wrapper .content-list li .more-info {
    width: 96%;
    position: relative;
    margin: 0 auto
}

.right-container .box-wrapper .content-list li .more-info h1 {
    line-height: 2.6em;
    background-color: #fff;
    font-size: 1.8em;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4
}

.right-container .box-wrapper .content-list li .more-info span {
    line-height: 3em;
    height: 3em;
    margin-right: 1em;
    color: #676464
}

.right-container .box-wrapper .content-list li .more-info span i {
    vertical-align: top;
    font-size: .8em;
    color: #000
}

.right-container .box-wrapper .content-list li .more-info span i.bigger {
    font-size: 1.2em
}

.right-container .box-wrapper .content-list li .more-info span.separate-line {
    color: #e4e4e4;
    margin-right: 1em
}

.right-container .box-wrapper .content-list li .more-info a {
    display: inline-block;
    _zoom: 1;
    _display: inline;
    *display: inline;
    *zome: 1;
    position: absolute;
    right: 0;
    bottom: 0
}

.right-container .box-wrapper .content-list li .more-info a span {
    color: #000;
    margin-right: 0;
    margin-left: .4em
}